* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #73bba3;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 35px;
}

main {
  background-color: #f6fb7a;
  height: 100vh;
}

.form-button {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

.new-book-button {
  padding: 12px 25px;
  border: 3.5px solid #00712d;
  border-radius: 8px;
  background-color: #f6fb7a;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.new-book-button:hover {
  background-color: #949743;
  color: white;
  border: 3.5px solid #b4e380;
}

dialog {
  width: 275px;
  margin: auto;
}

dialog[open] {
  scale: 1;
  transition: scale 0.3s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
  text-align: center;

  @starting-style {
    scale: 0;
  }
}

.button-area {
  display: flex;
  width: 240px;
  justify-content: flex-end;
}

.button-area > button {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: none;
  background-color: #f6fb7a;
  cursor: pointer;
  font-size: 20px;
}

.button-area > button:hover {
  background-color: #717238;
  color: white;
}

.books {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 26% 26% 26%;
  padding: 20px;
  row-gap: 35px;
  justify-items: center;
  background-color: #f6fb7a;
}

.individual-book {
  width: 350px;
  height: auto;
  border: 5px solid #88d66c;
  border-radius: 25px;
  display: grid;
  justify-items: center;
  background-color: #b4e380;
}

.individual-book h1,
h4,
p {
  text-align: center;
  margin: 4px 0;
}

.individual-book img {
  height: 350px;
  width: 290px;
}

.actions-buttons {
  display: flex;
  column-gap: 25px;
  margin: 12px;
}

.deleteButton {
  color: rgb(238, 238, 238);
  background-color: rgb(255, 88, 88);
  border: 3px solid rgb(98, 0, 0);
  border-radius: 18px;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 7.5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: rgb(119, 45, 45);
  color: red;
  border: 3px solid white;
}

.changeReadIt {
  font-size: 16px;
  font-weight: 500;
  width: 90px;
  border-radius: 18px;
  cursor: pointer;
  background-color: rgb(176, 176, 43);
  color: white;
  border: 3px solid gold;
}

.changeReadIt:hover {
  color: green;
  background-color: rgb(255, 202, 103);
  border-color: white;
}
